<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDMS_Archive</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  <a href="/document/" class="w3-bar-item w3-button">document</a>
  <a href="/cabinet/" class="w3-bar-item w3-button">cabients</a>
  <a href="#" class="w3-bar-item w3-button">page 2</a>
</div>
<h1>you are in Home page </h1>



</body>
</html>