{% extends "accounts_base.html" %}
{%load bootstrap4%}


{% block body %}
<div class="login-page">
  <div class="form">
      {% if form.errors %}
    <p>الرقم القومى او كلمة المرور غير صحيحة الرجاء التأكد من البيانات واعادة المحاولة</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>ليس لديك الصلاحيات للوصول الى هذه الصفحة.</p>
    {% else %}

    {% endif %}
  {% endif %}

    <form method="post" action="{% url 'login' %}" class="login-form">
       {% csrf_token %}
      <label> الرقم القومى</label>
      {{ form.username }}
       <label> كلمة المرور</label>
      {{ form.password }}

      <button>تسجيل الدخول</button>
      <p class="message">هذا التسجيل مخصص فقط للموظفين</p>
    </form>
  </div>
</div>
{% endblock %}