{% load static %}
<!DOCTYPE html lang="en">
<html>
    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="{%static 'css/style_1.css'%}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{%static 'css/login.css'%}">
        <link rel="script" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

<body>
      {% block body %}

      {% endblock body %}

<script src="{%static 'js/login.js'%}"></script>

    </body>


</html>