{% extends 'base.html' %}
{% load static %}
  {% block body %}
  <form action="#">
                    <div class="preview">

                        {%for obj in document_list%}
                    <!-- start an item  -->
                        <div class="item">
                            <div class="top">
                                <input type="checkbox" id="one" name="one" value="one">
                                <label> {{obj.name}} </label>
                            </div>
                            <div class="image">
                                <a href="{{ obj.file_uploded.url }}"><img src="{{ obj.file_uploded.url }}" alt="image" ></a>
                            </div>
                            <!-- <input type="submit" value="Submit"> -->
                        </div>
                        {%endfor%}
                    </form>


            </div>

{% endblock body %}



