{% extends 'base.html' %}
{% load static %}
  {% block body %}
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Documents Window</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <button class="w3-button w3-black">ALL</button>
      <a href="add">
        <button class="w3-button w3-white"><i class="fa fa-upload w3-margin-right"></i>ADD New doc</button>
      </a>

      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-search w3-margin-right"></i>Search</button>

    </div>
    </div>
  </header>


<div class="w3-row-padding">
  {%for obj in document_obj%}
    <div class="w3-third w3-container w3-margin-bottom">
      <a href="{{ obj.file_uploded.url }}">
        <img src="{{ obj.file_uploded.url }}" alt="image" style="width:100%" class="w3-hover-opacity">
      </a>
      <div class="w3-container w3-white">
        <p><b>{{obj.title}}</b></p>
        <p>{{obj.description}}</p>
      </div>
    </div>
  {%endfor%}
     </div>
  <!-- Pagination -->
  {%  if document_obj.has_other_pages%}
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
         {%if document_obj.has_previous%}
          <a href="?page={{ document_obj.previous_page_number }}" class="w3-bar-item w3-button w3-hover-black">«</a>
          {%endif%}
       {%for i in document_obj.paginator.page_range %}
      <a href="?page={{i}}" class="w3-bar-item w3-hover-black w3-button">{{i}}</a>
      {%endfor%}

         {%if document_obj.has_next%}
         <a href="?page={{ document_obj.next_page_number }}" class="w3-bar-item w3-button w3-hover-black">»</a>
         {%endif%}
    </div>
  </div>
{% endif%}

 <footer class="w3-container w3-padding-32 w3-dark-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
      <h3>FOOTER</h3>
    </div>
  </div>
  </footer>


{% endblock body %}


